.page {
  margin-top: 3rem;
  width: 75%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  .page {
    width: 90%;
    min-width: unset;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding: 0 1rem;
    width: 100%;
    min-width: unset;
  }
}

@media screen and (max-width: 380px) {
  .page {
    padding: 0;
    width: 100%;
    min-width: unset;
  }
}
