.container h2 {
  font-size: 2rem;
}

.container p {
  color: var(--teal-light-050);
}

.container .subtitle {
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}

.aiResponse {
  background: var(--black-dark-2-025);
  border: 2px solid var(--teal-light-010);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

.aiResponse p {
  color: var(--teal-light-100);
}

.footer {
  position: absolute;
  margin-top: 1.25rem;
}

.footer p {
  font-size: 0.85rem;
  margin: 0.5rem 0;
}

.footer strong {
  color: var(--teal-light-080);
}
