.container h2 {
  font-size: 2rem;
}

.container p {
  color: var(--teal-light-050);
}

.container .subtitle {
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.aiResponse.show,
.aiResponse.loading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: 1;
}

.aiResponse:not(.show):not(.loading) {
  opacity: 0;
  height: 0;
}

.aiResponse.show {
  min-width: 80%;
}

.aiResponse.loading {
  min-width: 50%;
  opacity: 0.7;
}

.aiResponse {
  min-width: 50%;
  width: min-content;
  background: var(--black-dark-2-025);
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem 0;
  transition: padding 0.2s ease-in-out, opacity 0.2s ease-in-out,
    min-width 0.2s ease-in-out;
}

.aiLabel {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--teal-light-080);
  margin-bottom: 0.25rem;
  opacity: 0.8;
}

.aiResponse p {
  font-size: 0.9rem;
  color: var(--teal-light-080);
}

.help {
  margin-top: 1.25rem;
}

.helpContent {
  display: flex;
  gap: 0.5rem;
  margin: 0.25rem 0;
}

.help p {
  font-size: 0.85rem;
}
