:root {
  --grey: #b7c0cc;

  --blue: #495fc3;

  --blue-2-rgb: 39, 93, 162;
  --blue-2-100: rgb(var(--blue-2-rgb));
  --blue-2-050: rgba(var(--blue-2-rgb), 0.5);

  --blue-3-rgb: 32, 76, 134;
  --blue-3-100: rgb(var(--blue-3-rgb));
  --blue-3-050: rgba(var(--blue-3-rgb), 0.5);
  --blue-3-025: rgba(var(--blue-3-rgb), 0.25);
  --blue-3-010: rgba(var(--blue-3-rgb), 0.1);

  --green-rgb: 52, 168, 83;
  --green-100: rgb(var(--green-rgb));
  --green-050: rgba(var(--green-rgb), 0.5);
  --green-025: rgba(var(--green-rgb), 0.25);

  --red-rgb: 168, 52, 52;
  --red-100: rgb(var(--red-rgb));
  --red-050: rgba(var(--red-rgb), 0.5);
  --red-025: rgba(var(--red-rgb), 0.25);

  --purple-dark-rgb: 132, 39, 162;
  --purple-dark-100: rgb(var(--purple-dark-rgb));
  --purple-dark-050: rgba(var(--purple-dark-rgb), 0.5);
  --purple-dark-025: rgba(var(--purple-dark-rgb), 0.25);
  --purple-dark-010: rgba(var(--purple-dark-rgb), 0.1);

  --purple-dark-2-rgb: 113, 33, 139;
  --purple-dark-2-100: rgb(var(--purple-dark-2-rgb));

  --purple-light-rgb: 148, 64, 176;
  --purple-light-100: rgb(var(--purple-light-rgb));
  --purple-light-050: rgba(var(--purple-light-rgb), 0.5);

  --purple-light-2-rgb: 152, 83, 175;
  --purple-light-2-100: rgb(var(--purple-light-2-rgb));
  --purple-light-2-050: rgba(var(--purple-light-2-rgb), 0.5);

  --teal-light-rgb: 187, 218, 216;
  --teal-light-100: rgb(var(--teal-light-rgb));
  --teal-light-080: rgba(var(--teal-light-rgb), 0.8);
  --teal-light-050: rgba(var(--teal-light-rgb), 0.5);
  --teal-light-025: rgba(var(--teal-light-rgb), 0.25);
  --teal-light-010: rgba(var(--teal-light-rgb), 0.1);

  --grey-2-100-rgb: 93, 93, 93;
  --grey-2-100: rgb(var(--grey-2-100-rgb));
  --grey-2-080: rgba(var(--grey-2-100-rgb), 0.8);
  --grey-2-025: rgba(var(--grey-2-100-rgb), 0.25);

  --black: #000000;
  --black-dark: #050505;
  --black-dark-2-rgb: 39, 42, 41;
  --black-dark-2-100: rgb(var(--black-dark-2-rgb));
  --black-dark-2-080: rgba(var(--black-dark-2-rgb), 0.8);
  --black-dark-2-050: rgba(var(--black-dark-2-rgb), 0.5);
  --black-dark-2-025: rgba(var(--black-dark-2-rgb), 0.25);

  --black-dark-3-rgb: 35, 37, 37;
  --black-dark-3-100: rgb(var(--black-dark-3-rgb));
  --black-dark-3-080: rgba(var(--black-dark-3-rgb), 0.8);
  --black-dark-3-050: rgba(var(--black-dark-3-rgb), 0.5);
  --black-dark-3-025: rgba(var(--black-dark-3-rgb), 0.25);

  --black-dark-4-rgb: 44, 44, 44;
  --black-dark-4-100: rgb(var(--black-dark-4-rgb));
  --black-dark-4-080: rgba(var(--black-dark-4-rgb), 0.8);
  --black-dark-4-050: rgba(var(--black-dark-4-rgb), 0.5);
  --black-dark-4-025: rgba(var(--black-dark-4-rgb), 0.25);

  --background: var(--black-dark);
  --accent: var(--purple-dark-100);
  --body-txt: var(--grey);
  --link: var(--blue);

  --navbar-height: 55px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--body-txt);
  background: var(--background);
  font-family: var(--geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
