.hero {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.hero .content {
  z-index: 10;
  text-align: center;
}

.hero h1 {
  white-space: nowrap;
  font-size: 4rem;
  /* font-size: 64px; */
}

.hero .content p {
  opacity: 0.8;
  color: var(--body-txt);
  font-size: 1.2rem;
  max-width: 435px;
  margin: 0.75rem auto;
  text-align: center;
  display: block;
}
