.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarBtn {
  border: none;
  border-radius: 50%;
  background-color: var(--black-dark-2-025);
  padding: 0.5rem;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.avatarBtn img {
  cursor: pointer;
}

.avatarBtn:active {
  outline: 1px solid var(--teal-light-025);
}
