.container {
  position: absolute;
  top: calc(var(--navbar-height) - 0.5rem);
  right: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background-color: rgb(16, 16, 16);
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  min-width: 150px;
  z-index: 1;
}

.container.hidden {
  opacity: 0;
  pointer-events: none;
}

.container.visible {
  pointer-events: auto;
  transform: translateY(10px);
  opacity: 1;
}

.menu {
  padding: 0.5rem;
}

.menu a,
.menu button {
  letter-spacing: -0.03rem;
  width: 100%;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 0.1rem 0;
  padding: 0.4rem;
  color: var(--teal-light-080);
  outline: 2px solid transparent;
}

.menu a:hover,
.menu button:hover {
  background-color: rgb(22, 22, 22);
}

.menu a:active,
.menu button:active {
  background-color: rgb(25, 25, 25);
}

.menu button {
  font-family: inherit;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.section {
  padding: 0.15rem 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.section:first-child {
  border-top: none;
}
