.cards {
  display: flex;
  margin-top: 5rem;
}

.cardContainer {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(40px) scale(0.98);
  transition: opacity 0.35s cubic-bezier(0.4, 2, 0.6, 1),
    transform 0.35s cubic-bezier(0.4, 2, 0.6, 1);
  z-index: 0;
}

.cardContainer:not(.active) {
  width: 0;
  position: absolute;
}

.cardContainer.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  transform: translateX(0) scale(1);
  z-index: 1;
}

.cardContainer.prev {
  transform: translateX(-40px) scale(0.98);
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.actions {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.actions button {
  opacity: 0.8;
  cursor: pointer;
  background: none;
  border: none;
}

.actions button.disabled {
  opacity: 0.2;
  cursor: default;
}

.actions button:not(.disabled):hover {
  opacity: 1;
  transform: scale(1.1);
}

.actions .prevBtn img {
  transform: rotate(180deg);
}

.progressText {
  color: var(--body-txt);
  font-size: 1rem;
}
