.card {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.dropdown {
  transition: visibility 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.card:not(:hover) .dropdown {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.card:hover .dropdown {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numOfCards {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.info {
  margin-top: auto;
}

.lastStudied {
  white-space: nowrap;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.actions {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.actions a {
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 0.875rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.15s ease;
}

.actions .studyBtn {
  background: var(--black-dark-2-050);
  gap: 0.5rem;
}

.actions .studyBtn:hover {
  background: var(--black-dark-2-100);
}
