.header {
  margin: 1.5rem 0;
}

.backBtn {
  font-size: 1rem;
  background: none;
  border: none;
  font-family: inherit;
  color: white;
  opacity: 0.8;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
  transition: opacity 0.2s ease;
}

.backBtn img {
  transform: rotate(180deg);
  transition: margin-left 0.2s cubic-bezier(0.2, 0.9, 0.2, 1);
  margin-left: 0;
}

.backBtn:hover {
  opacity: 1;
}

.backBtn:hover img {
  transform: rotate(180deg);
  margin-left: -3px;
}

.header .titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .titleContainer img {
  transform: rotate(-90deg);
}

.tagContainer {
  margin-top: 0.75rem;
}

.tagContainer .aiGenerated {
  font-size: 0.85rem;
  margin-left: 1rem;
  color: var(--teal-light-080);
}

.list {
  margin: 1rem 0;
  margin-bottom: 4rem;
  display: grid;
  gap: 1rem;
}
