.multichoice {
  background-color: var(--black-dark-2-025);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding: 4rem 5rem;
}
.content {
  height: 100%;
}

.question {
  height: 4rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  font-weight: 600;
}
.prompt {
  color: rgba(255, 255, 255, 0.5);
}

.prompt .correct {
  color: var(--green-100);
}

.prompt .incorrect {
  color: var(--red-100);
}

.choicesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3rem 0;
}

.choices {
  height: 100%;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.choice {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border: 2px solid var(--teal-light-010);
  border-radius: 5px;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  background: none;
}

.choice span {
  margin-right: 1rem;
  font-family: var(--geist-mono);
  color: rgba(255, 255, 255, 0.5);
}

.choice:hover:not(:disabled) {
  background-color: var(--black-dark-2-025);
  border-width: 1px;
  cursor: pointer;
}

.choice.correct {
  border-color: var(--green-050);
  color: rgba(255, 255, 255, 0.9);
}

.choice.incorrect {
  border-color: var(--red-050);
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 640px) {
  .multichoice {
    padding: 2rem 2.5rem;
  }

  .question {
    font-size: 1.25rem;
  }

  .choices {
    display: flex;
    flex-direction: column;
  }

  .choice {
    /* font-size: 1rem; */
    padding: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .multichoice {
    padding: 1.5rem;
  }

  .question {
    font-size: 1rem;
    height: auto;
  }

  .choicesContainer {
    padding: 1.5rem 0;
  }

  .choice {
    font-size: 1rem;
  }
}
