.links {
  display: flex;
  gap: 20px;
}

.link {
  cursor: pointer;
  color: var(--white);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

.link:hover {
  background: var(--purple-dark);
}
